@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <img src= "~/images/logo.png" alt= "ITM logo" style = "max-height:120px;" /> 
    <h1 class="display-4">EasyDevOps</h1>
</div>
